.login-container,
.container {
  font-family: Arial, sans-serif;
  width: 50%;
  margin: 0 auto;
  padding: 30px;
}

.login-container {
  display: flex;
  justify-content: center;
}

.container {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(235, 232, 232);
  border-radius: 8px;
  padding: 30px;
  min-height: 400px;
  margin-left: 20px;

}

h2 {
  text-align: center;
  color: black;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  text-align: start;
  padding-left: 10px;
}

input[type="text"],
input[type="password"] {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  margin-top: 5px;
  font-size: 16px;
}

input:focus {
  outline: none;
  border-color: #7e8089;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
  background-color:#80aacf;
  color: black;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  margin-top: 15px;
}

button:hover {
  background-color: #7e8089;
  color: white;
}

a {
  text-decoration: none;
  color: black;
  display: block;
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
  color: #80aacf;
}

.success-message {
  color: #28a745;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}

.error-message {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
  padding: 5px;
}


.landing-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-left: 20px;
  text-align: center;
  margin-top: 80px;
}

.landing-logo {
  flex: 1;
  padding-right: 20px;
  margin-right: 40px;
}

.landing-logo img {
  width: 400px;
  height: 400px;
}
