<section class="landing-content">
  <div class="registration-container">
    <div class="container">
      <h2>Register</h2>

      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" [(ngModel)]="username" name="username" required />
          <div *ngIf="errorMessages.username" class="error-message">{{ errorMessages.username }}</div>
        </div>


        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" [(ngModel)]="password" name="password" required />
          <div *ngIf="errorMessages.password" class="error-message">{{ errorMessages.password }}</div>
        </div>

        <div class="form-group">
          <label for="balance">Balance</label>
          <input type="number" id="balance" [(ngModel)]="balance" name="balance" required />
          <div *ngIf="errorMessages.balance" class="error-message">{{ errorMessages.balance }}</div>
        </div>

        <a routerLink="/login">Already have an account? Login</a>

        <button type="submit">Register</button>

        <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
        <div *ngIf="errorMessages.general" class="error-message">{{ errorMessages.general }}</div>
      </form>
    </div>
  </div>
  <div class="back">
    <a routerLink="/landingpage">Back to Home</a>
  </div>
</section>